body{
    background-color: rgb(255, 255, 255);
}

.navbar{
    background-color: #4473c4;
    border: 2px solid  #2f528f;
    padding: 20px;
    border-radius: 20px;
    color: white;
    /* margin: 20px; */
}

.container{
    width: 830px;
    border: 2px solid #2f528f;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
    height: 73%;
    position: relative;
    background-color:#4473c4;
    /* top: 60px; */
}
.piece_container{
    position: relative;
    width: 406px;
    height: 406px;
    border: 1px solid #2f528f;
    float: left;
    text-align: center;
    font-size: 30px;
    line-height: 400px;
    background-color:white;

}
.puzzle_container{
    width: 406px;
    height: 406px;
    border: 1px solid #2f528f;
    float: right;
    background-color:white;

}
.buttons{
    position: relative;
    left: -2%;
    list-style-type: none;
    text-align: center;
    /* display: none; */
}
.buttons button{
width: 200px;
border: 2px solid #2f528f;
font-size: 30px;
border-radius: 5px;
padding: 5px;
background-color: #4473c4;
color: white;
/* margin-top: 10px; */
}

.reset{
    display: none;
}
.piece{
    width: 100px;
    height: 100px;
    border: 0.5px solid rgba(56, 56, 56, 0.082);
    float: left;
    background-image:url(wolf.jpg);
    background-repeat: no-repeat;
}

.countdown{
    position: relative;
    float: right;
    left: -30px;
    font-size: 30px;
    top: -15px;
}

.scoreboard{
    position: relative;
    float: left;
    font-size: 30px;
    left: 30px;
    top: -15px;
}
.form{
    
    display: none;
    
}
input#submit{
    width: 200px;
    border: 2px solid #2f528f;
    font-size: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: #4473c4;
    color: white;
    }